@import "../../styles/variable";
@import "../../styles/mixins";

.AdventureStart {
  padding-left: 12px;
  padding-right: 12px;
}

.AdventureCont {
  @include bgPath('adv-start-bg.webp');
  background-color: #fffafa;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 20px;
  padding: 0; 
  overflow: hidden;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none; 

  @include mq("min", 1200px) {
  max-width: 995px;
  } 

  &:after { 
    @include mq('min', 768px) {
      content: "";
      display: inline-block;
      width: 20%;
      height: 300%;
      position: absolute;
      top: -60%;
      left: -50%;
      background-color: rgb(255 233 229 / 20%);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      -webkit-animation-name: flashattradv;
      animation-name: flashattradv;
      -webkit-animation-duration: 1.8s;
      animation-duration: 1.8s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; 
      @include css3('filter',  blur(8px)); 
    }
  }
}

// flashattradv
@-webkit-keyframes flashattradv {
  0% {
    left: -50%;
  }

  100% {
    left: 150%;
  }
}

@keyframes flashattradv {
  0% {
    left: -50%;
  }

  100% {
    left: 150%;
  }
}


.AdvThRow {
  min-height: 160px;
}

.AdvTh {
  display: inline-block;
  position: relative;
  top: 5px;
  @include mq('max', 767px) {
 width: 180px;
}
  span {
    display: block;
    float: left;
    width: 100%;
  }
}

.BtnStartAdv {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  background-color: $primary;
  border-radius: 6px;
  padding: 5px 30px;
  @include SixteenFontMedia;
}

.BtnStartTrs {
  color: $charcoal;
  text-align: center;
  font-family: "Overlock", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 15px 0 10px;
  @include mq('max', 1199px) {
    font-size: 24px;
  }

  @include mq('max', 991px) {
    font-size: 22px;
  }
  @include mq('max', 767px) {
    font-size: 20px;
  }
}

.BtnStart {
  color: $white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  background-color: $primary;
  border-radius: 10px;
  padding: 5px 30px;
  @include SixteenFontMedia;
}