@import "../../styles/variable";
@import "../../styles/mediaprefix";


.PopularRtsCard {
    @include css3(transition, all 0.4s cubic-bezier(0.5, 0, 0, 1.25));
}

.PopularRtsImg {
    @include css3(transition, all 0.6s cubic-bezier(0.5, 0, 0, 1.25));
}


.PopularRts {
    padding-bottom: 60px;
}

.PopularRtsWrp {
    position: relative;
    z-index: 2;
}

.PopularRtsCard {
    border-radius: 10px;
    background: $white;
    @include css3(box-shadow, 0px 0px 10px 0px rgba(0, 0, 0, 0.04));
    padding: 16px 15px 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    &::before,
    &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        @include css3(transition, all 350ms cubic-bezier(0.5, 0, 0, 1.25));
    }

    &::before,
    &::after {
        @include css3(transition-delay, 0s);
    }

    &::before {
        right: 0;
        top: 0;
        border-right: solid 2px $primary;
        border-top: solid 2px $primary;
    }

    &::after {
        left: 0;
        bottom: 0;
        border-left: solid 2px $primary;
        border-bottom: solid 2px $primary;
    }

    &:hover {
        @include css3(transform, scale(1.08));
        @include css3(box-shadow, 0 25px 30px -12px rgb(0 0 0 / 20%));

        &::before,
        &::after {
            @include css3(transition-delay, 180ms);
            border-radius: 10px;
        }

        &::before,
        &::after {
            width: 100%;
            height: 100%;
        }

        .PopularRtsImg {
            @include css3(transition-delay, 100ms);
            @include css3(transform, rotateY(-180deg));
            position: relative;
            overflow: hidden;

            &:after {
                width: 150%;
                background-color: rgba(255, 255, 255, 0);
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                @include css3('transition-delay', 0.23s);
            }
        }
    }


    hr {
        margin-top: 20px;
        margin-bottom: 10px;
        border-color: #d9d9d9;
        opacity: 1;
    }
}

.PopularRtsRow {
    margin: 0 -15px;
      @include mq('max', 1299px) {
        margin: 0 -12px;
    }

    @include mq('max', 1299px) {
        margin: 0 -10px;
    } 
}

.PopularRtsCol {
    padding: 0 15px;
       @include mq('max', 1299px) {
        padding: 0 12px;
    }

    @include mq('max', 1299px) {
        padding: 0 10px;
    }
}

.PopularRtsImg {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; 
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.60); 
        @include css3('filter', blur(6px)); 
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        @include css3('transform', skewX(-20deg));
        @include css3('transform-origin', top right);
    }
}


.PFootRtsPrice,
.PFootRtsFrom,
.PFootRtsDate {
    color: $charcoal;
    font-style: normal;
    line-height: normal;
}

.PFootRtsDate {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.PFootRtsFrom {
    font-size: 16px;
    font-weight: 700;

    span {
        display: inline-block;
        margin: 0 12px;
    }
}

.PFootRtsClass {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
}

.PFootRtsPrice {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.PFootRtsRow {
    margin: 0 -4px;
}

.PFootRtsCol {
    padding: 0 4px;
}