@import "../../styles/mixins";
   
.BrandsSection {
    padding-top: 30px;
    padding-bottom: 30px;
 
    @include mq('max', 1199px) {
        padding-bottom: 60px;
    } 
    @include mq('max', 991px) {
        padding-bottom: 70px;
        overflow: hidden;
    }  
}

.BrandsCardInner {
    position: relative;
    width: 75px;
    height: 60px;
    @include css3(transition, all 0.3s cubic-bezier(0.5, 0, 0, 1.25));
    @include css3(filter, grayscale(100%)); 
    opacity: 0.35;
    &:hover{
        @include css3(filter, none); 
        @include css3(transform, scale(1.06)); 
        opacity: 1;
    } 
}


.BrandsCardRow {
    margin: 0 -20px;
    @include mq('max', 1199px) {
        margin: 0 -20px -20px;
    } 
    @include mq('max', 991px) { 
        @include scrollHorizontal;
        padding-top: 60px;
        padding-bottom: 68px; 
        margin: -60px -20px -25px;
        position: relative;
    } 
}


.BrandsCard {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    @include mq('max', 1199px) {
        padding: 0 20px 20px;
    } 
    @include mq('max', 991px) {
        padding: 0 20px;
    } 
}
