 .nav-dark {
   @extend %full-width;
   background-color: $charcoal;
   padding: 14px 0;
   font-size: 15px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.4px;

   a {
     color: $white;

     &:hover {
       color: $primary;
     }

     img,
     svg {
       width: 20px;
       height: 20px;
       margin-right: 8px;
       position: relative;
       top: -1px;
       color: $primary;
     }
   }

   .col-12 {
     &.left {}

     &.right {
       text-align: right
     }
   }
 }


 body.modal-open[style="overflow: hidden; padding-right: 16px;"] .header-classic.is-sticky {
   border-right: solid 16px #fff;
   @include css3('transition', none);
 }

 .header-classic {
   @extend %full-width;
   background-color: $white; 
   z-index: 3;

   @include mq("max", 991px) {
    z-index: 1;
 }

   &.is-sticky {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 20;
     -webkit-animation-name: slideInDownhd;
     animation-name: slideInDownhd;
     -webkit-animation-duration: 0.20s;
     animation-duration: 0.20s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
     -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
     transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
     .navbar.navbar-light {
       min-height: 78px;
      @include mq('max', 1199px) {
        min-height: 72px;
        padding-top: 0;
        padding-bottom: 0;
     }

     }

     .header-lang-menu .dropdown-menu, .header-currency-menu .dropdown-menu{
      margin-top: 6px;
     }
   }

   .navbar-brand img { 
     margin-bottom: -5px;
   }

   .navbar.navbar-light {
     @include css3('box-shadow', 0px 3px 4px 0px rgba(0, 0, 0, 0.04));
     position: relative;
     z-index: 4;
     min-height: 100px;
   }
 }


 .header-classic-empty {
   @extend %full-width;
   min-height: 100px;
   display: none;
   @include mq('max', 991px) {
    min-height: 80px;
 }
 }

 .header-classic-empty.is-sticky {
   display: block;
 }


 .headurls-menu {
   .dropdown-menu {
     padding: 0;
     border: none;
     min-width: 310px;
     color: $black;
     box-shadow: 0px 10px 39px 0.8px rgba(0, 0, 0, 0.1);
     -webkit-box-shadow: 0px 10px 39px 0.8px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0px 10px 39px 0.8px rgba(0, 0, 0, 0.1);
     -ms-box-shadow: 0px 10px 39px 0.8px rgba(0, 0, 0, 0.1);
     -o-box-shadow: 0px 10px 39px 0.8px rgba(0, 0, 0, 0.1);
     animation-duration: 0.5s;
     -webkit-animation-duration: 0.5s;
     border-radius: 5px;
     animation-timing-function: cubic-bezier(0.5, 0, 0, 1.25);
     -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0, 1.25);
     animation-name: fadeInUpperx;
     -webkit-animation-name: fadeInUpperx;
     -moz-animation-name: fadeInUpperx;
     -ms-animation-name: fadeInUpperx;
     -o-animation-name: fadeInUpperx;
     animation-fill-mode: both;
     -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
     -ms-animation-fill-mode: both;
     -o-animation-fill-mode: both;
     transform-origin: top right;
     -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
     -ms-transform-origin: top right;
     -o-transform-origin: top right;
     padding: 4px;
   }

   .tint-asidescl {
     background: transparent;
   }
 }

 .btn-check:checked+.btn.sidenav-btn,
 :not(.btn.sidenav-btn-check)+.btn.sidenav-btn:active,
 .btn.sidenav-btn:first-child:active,
 .btn.sidenav-btn.active,
 .btn.sidenav-btn.show {
   border: none;
 }

 .btn.sidenav-btn {
   padding: 0;
   border: none;
   margin-right: 20px;
   width: 26px;
   overflow: hidden;
   position: relative;
   border-radius: 0;
   z-index: 4;

   &::before,
   &::after {
     content: "";
     position: absolute;
     display: block;
     width: 100%;
     height: 2px;
     background-color: $charcoal;
     @include css3('transition', all 0.5s ease-out);
     @include css3('transform', translateX(-100%));
     @include css3('transform-origin', left);
     @include css3('transition-delay', 0s);
     z-index: 0;
   }

   &::after {
     transition-delay: 0.1s;
   }

   &::after {
     transition-delay: 0.2s;
     bottom: 0;
   }

   &:hover, &.visible {
     .nvt-1 {
       @include css3('transform', translateX(200%));
     }

     .nvt-2 {
       width: 100%;
     }

     .nvt-3 {
       @include css3('transform', translateX(200%));
     }

     &::before,
     &::after {
       @include css3('transform', translateX(0));
     }
   }


   span {
     background-color: $charcoal;
     height: 2px;
     width: 100%;
     border-radius: 50px;
     display: block;
     @include css3('transition', all 0.7s ease-out);
     position: relative;
     z-index: 3;
   }

   img {
     width: 30px;
     height: 30px;
     @include css3('transition', all 0.3s);
   }

   .nvt-2 {
     margin: 6px 0;
     width: 70%;
   }

   .nvt-3 {
     transition-delay: 0.1s;
   }

 }


 .header-lang-menu,
 .header-currency-menu {
   .dropdown-menu {
     right: 0;
     left: auto;
     border-radius: 10px;
     border: none;
     width: 750px;
     padding: 30px;
     @include css3('box-shadow', 0px 20px 70px rgb(0 0 0 / 8%));
     animation-duration: 0.6s;
     -webkit-animation-duration: 0.6s;
     animation-timing-function: cubic-bezier(0.5, 0, 0, 1.25);
     -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0, 1.25);
     @include css3('animation-name', fadeInUpperx);
     @include css3('animation-fill-mode', both);
     @include css3('transform-origin', top center);
     margin-top: 12px;
   }
 
   .dropdown-item {
     padding: 7px 10px;
     background: transparent;
     color: $charcoal;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     border-radius: 6px;

     &.active {
       font-weight: 600;

       &::before {
         @extend %hoverripple;
       }

       &::after {
         content: "";
         position: absolute;
         z-index: 2;
         left: 50%;
         @include css3('transform', translateX(-50%));
       }
     }

     &.active,
     &:hover {
       color: $primary;
     }
   }

   .ripple-wv::before {
     @extend %headbtnripple;
     background-color: #fff0e7;
   }
 }


 .header-lang-menu {
   margin: 0 20px;

   .dropdown-item {
     position: relative;
     padding-right: 79px;
     padding-left: 6px;
     white-space: normal;

     svg {
       margin-right: 10px;
       border-radius: 5px;
       top: 0
     }

     span.flex-grow-1 {
       position: absolute;
       right: 6px;
     }

     .btn {
       background: transparent;
       border: none;
       padding: 0;
       font-size: 12px;
       color: #a5a5a5;
       margin-left: 10px;

       &:first-child {
         margin-left: 0;
       }

       &:hover {
         text-decoration: underline;
         color: $charcoal;
       }
     }
   }



   .row {
     margin: 0 -13px -10px;

     .col-12 {
       margin-bottom: 10px;
       padding: 0 6px;
     }
   }


 }

 .header-currency-menu {
   h5 {
     color: $charcoal;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     margin-bottom: 10px;
   }

   .w-100 {
     margin-bottom: 25px;

     &:last-child {
       margin-bottom: 0;
     }
   }

   .dropdown-item {
     svg {
       margin-right: 16px;
       font-size: 110%;
       position: relative;
       top: -2px;
     }
   }

   .row {
     margin: 0 -16px -9px;

     .col-12 {
       margin-bottom: 9px;
       padding: 0 6px;
     }
   }
 }


 .type-name-ats{
  display: none;
  color: $black;
  font-weight: 600;
  font-size: 14px;
  margin-left: 8px; 
  position: relative;
  top: 1px;
 }
 .type-down-ats {
  margin-left: 8px;
  opacity: 0.5;
}

 .lang-flag svg,
 .lang-flag img {
   width: 24px;
   border-radius: 5px;
 }

 .nav-currency-head {

   li {
     display: inline-block;
     vertical-align: middle;
   }

   .header-lang-menu,
   .header-currency-menu {
     vertical-align: middle;
     min-height: 24px;
   }

   .sign-in {
     padding: 6px;
     height: 46px;
     min-width: 126px;
     border-radius: 6px;
     border: 1px solid #ececec;
     color: $charcoal;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;

     &:hover {
       border-color: $primary
     }

     img {
       width: 24px;
       height: 24px;
       margin-right: 10px;
     }
   }


   .lang-flag svg {
     position: relative;
     top: -3px;
   }

   .currency-name svg {
     position: relative;
     top: -2px;
   }

   .lang-flag,
   .currency-name {
     cursor: pointer;
   }


   .currency-name {
     border-radius: 5px;
     background-color: $primaryoff;
     min-width: 24px;
     text-align: center;
     font-size: 13px;
     padding: 2px 0;
     line-height: normal;
   }
 }

 .offcanvas.offcanvas-start.sidenav-offcanvas{
  border: none;
 }

 .offcanvas, .fade.offcanvas-backdrop{ 
  @include css3('transition', all 0.23s ease-in-out);
 }

 .sidenav-offcanvas {
   border-radius: 0px 20px 20px 0px;
   @include css3('transform-origin', left center);
overflow: hidden;
   .offcanvas-footer{ 
    padding-top: 6px;
    .dropdown{
      position: static;
    }
    .lang-wrp{
      border-top: 1px solid #efefef;  
    }
    .header-lang-menu{
      margin: 0;
    }
    .lang-flag,
    .type-name-ats{
      display: inline-block;
    }
    .header-lang-menu .dropdown-menu, 
    .header-currency-menu .dropdown-menu{
      width: 100%;
      top: auto !important;
      bottom: 0 !important;
      border-radius: 0;
      overflow: auto;
      height: 100%;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out; 
      @include css3('animation-fill-mode', both); 
      -webkit-animation-duration: 250ms;
      @include css3('transform-origin', top right);
      animation-duration: 250ms; 
      margin: 0;
    }
    .header-lang-menu .dropdown-menu{
      @include css3('animation-name', fadeInLeft); 
    }
    .header-currency-menu .dropdown-menu{
      @include css3('animation-name', fadeInRight); 
    }
    .ripple-wv::before { 
      background-color: #fff0e7;
    }
 
   }

   .ripple-wv::before {
     @extend %headbtnripple;
     background-color: $primary;
   }

   .ripple-wv:hover::before {
     @include css3('transition', all 0.6s cubic-bezier(0.5, 0, 0, 1.25));
   } 

   .offcanvas-header {
     padding-top: 32px;
     padding-bottom: 32px;

     .btn-close {
       border: none;
       box-shadow: none;
       opacity: 1;
       background-size: 16px;
     }
   }

   .offcanvas-header,
   a {
     padding-left: 32px;
     padding-right: 32px;
   }


   .offcanvas-body {
     padding: 0 0 20px;

     hr {
       border-top: solid 2px #ffc29a;
       margin: 37px 0;
     }

     .supr-1 {
       svg path {
         @include css3('transition', all 0.6s cubic-bezier(0.5, 0, 0, 1.25));
       }

       &:hover {
         svg path {
           fill: $white;
         }
       }
     }

   }
 }

 .navmain-logo{
  width: 204px;
 }

 .slidenav-url-group {
  li.disable{
    opacity: 0.4; 
    cursor: no-drop;
    filter:gray;  
-webkit-filter:grayscale(100%); 
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
    a{
      pointer-events: none;
    }
  }
   a {
     display: block;
     color: $davgray;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     padding-top: 18px;
     padding-bottom: 18px;
     @include css3('transition', all 0.4s cubic-bezier(0.5, 0, 0, 1.25));

     &:hover {
       color: $white;
       svg path{
        fill: $white;
       }
     }

     .icon,
     svg {
       margin-right: 18px;
       height: auto;
       width: 20px;
       position: relative;
       top: -1px;
       color: $primary;
     }
   }
 }


 .border-flgcurrency.btn.dropdown-toggle.btn-light {
   background: transparent;
   border: none;
   padding: 17px 0;
   width: auto; 
   &::after {
     display: none;
   }
 }


 .ft-supportsocial{
  padding-top: 20px;
  padding-bottom: 20px;
  .slidenav-url-group {
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(157 157 157 / 6%); 
    a{
      padding-left: 16px;
      padding-right: 16px;
      svg{
        margin-right: 6px;
        top: -1px;
      }
    }
  }
 }

 