// font size
$bodysize: 16px !default;

$primary : #ff6600; 
$primaryoff : #ffe8d9; 
$secondary : #2b4462;   
$charcoal : #333333; 
$davgray : #4f4f4f;  
$black: #000000; 
$gray: #909090; 
$l-gray: #7f7f80; 
$tintgray: #f6faff; 
$errorred: #dc0b0b; 
$white: #fff;

// Checkbox variables
$checkbox-size: 20px;
$checkbox-animation-ripple: 400ms;
$checkbox-animation-check: 0.3s;
$lightbg-text: rgba(0,0,0,0.84);
$checked-colour: $primary;

//Image path
$imageUrl: '../images';
$fontDefault: 'Mulish', sans-serif; 


