@import "../../styles/variable";
@import "../../styles/mixins";


.TopRecentBlock {
    padding: 60px 0;
}

.TopRecentCard {
    font-size: 16px;
    background-color: $primaryoff;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    @include SixteenFontMedia;

    @include mq('max', 991px) {
        padding-bottom: 20px;
        text-align: center;
    }
}

.TopRecentCard,
.TopRecentImg,
.TopRecentThumb,
.TopRecentPlane {
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}



.TopRecentCard:hover {
    background-color: $primaryoffdark; 
    @include css3(transform, scale(1.035)); 

    @include mq('max', 991px) {
        @include css3(transform, scale(1.07));   
    }


    .TopRecentImg {
        @include css3('transform', 1.17); 
    }

    .TopRecentPlane {
        color: $primary;
        font-weight: 700;
    }

    .TopRecentThumb {
        -webkit-box-shadow: 0 4px 6px -4px rgba(220, 57, 27, 0.66);
        -moz-box-shadow: 0 4px 6px -4px rgba(220, 57, 27, 0.66);
        box-shadow: 0 4px 6px -4px rgba(220, 57, 27, 0.66);

        @include mq('min', 992px) {
            @include css3('transform', scale(1.15));
        }

        img {
            @include css3('transform', scale(1.1));
        }

        &:after {
            width: 160%;
            background-color: rgba(255, 255, 255, 0);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            @include css3('transition-delay', 0.14s);
        }
    }

    .TopRecentThumb,&,
    .TopRecentImg {
           @include mq('min', 992px) {
        border-radius: 15px;
           }
    }
}

.TopRecentDashed {
    position: relative;
    top: 3px;
    min-width: 75px;

    @include mq('max', 991px) {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
    }

}

.TopRecentThumb {
    overflow: hidden;
    margin-left: 20px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.50);
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        @include css3('transform', skewX(-20deg));
        @include css3('transform-origin', top left);
        @include css3('filter', blur(4px));
    } 
    @include mq('max', 991px) {
        margin-top: -49px;
        margin-bottom: 7px;
        margin-left: 0;
        margin-right: 0;
        @include css3('transform-origin', bottom center);  
    }   
    span {
        display: block;
        float: left;
        width: 100%;
        overflow: visible !important;
    }
}



.TopRecentThumb,
.TopRecentImg {
    border-radius: 10px; 
}

.TopRecentPlane {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include SixteenFontMedia;

    @include mq('max', 991px) {
        margin-top: 8px;
        margin-bottom: 16px;
        padding-bottom: 14px;
        border-bottom: solid 1px lighten($primary, 42%);
    }
}

.TopRecentTrv {
    color: $lightgray;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;

    @include mq('max', 1199px) {
        margin-top: 12px;
    }

    @include mq('max', 991px) {
        margin-top: 10px;
        font-size: 11px;
    }

    @include mq('max', 767px) {
        font-size: 10px;
    }
}

.TopRecentRow {
    margin: 0 -15px;

    @include mq('max', 1299px) {
        margin: 0 -12px;
    }

    @include mq('max', 1299px) {
        margin: 0 -10px;
    }

    @include mq('max', 1199px) {
        @include scrollHorizontal;
    }
    @include mq('max', 991px) {
        margin: -22px -10px -65px;
    }
}

.TopRecentCol {
    padding: 0 15px;

    @include mq('max', 1299px) {
        padding: 0 12px;
    }

    @include mq('max', 1299px) {
        padding: 0 10px;
    }

    @include mq('max', 1199px) {
        @include columnGrid(380px);
    }

    @include mq('max', 991px) {
        @include columnGrid(33.33%);
        padding-top: 65px;
        padding-bottom: 65px;
    }

    @include mq('max', 575px) {
        @include columnGrid(200px);
    }
}

.TopRecentGrow {
    @include mq('max', 991px) {
        width: 100%;
    }
}

.TopRecentContn {
    @include mq('max', 1199px) {
        padding-bottom: 56px;
        margin-bottom: -16px;
    }
    @include mq('max', 991px) {
        padding-bottom: 26px; 
    }
    @include mq('max', 575px) {
        padding-bottom: 56px;
    }
}

.PopularRtsUlOp {
    display: none;

    @include mq('max', 1199px) {
        display: block;
    }

    @include mq('max', 991px) {
        display: none;
    }

    @include mq('max', 575px) {
        display: block;
    }
}